*{
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    /* border: solid 2px hsl(34, 57%, 70%); */
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    border-radius: 100px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    box-sizing: border-box;
    border-radius: 100%;
    text-align: center;
    font-size: 1.1em;
    padding: 1.5em;
    width: 100px;
    height: 100px;
    color: black;
}
.red{
    background-color: red;
    grid-area: 1/2/2/3;
}
.yellow{
    background-color: yellow;
    grid-area: 2/2/3/3;
}
.green{
    background-color: green;
    grid-area: 3/2/4/3;
}